*{
  margin: 0;
}
.gridTemp{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-items: center;
  align-items: center;
  row-gap: 25px;
  column-gap: 25px;
}
.gridItem{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 270px;
  border-radius: 8px;
  cursor: pointer; 
  box-shadow: 10px 10px 15px rgba(237, 233, 233, 0.2);
}
.insideButton{
  display: grid;
  flex-direction: column;
}
.gridItem:hover{
  scale: 1.008;
}

.showPoints{
  margin-left: 1150px;
  margin-top: -50px;
  color: darkgoldenrod;
  font-size: 25px;
  margin-bottom: 30px;
}
.firstHeading{
  margin-left: 10px;
  color: darkgoldenrod;
  font-size: 40px;
}
.secondHeading{
  margin-bottom: 40px;
  margin-top: 30px;
  margin-left: 10px;
  color: darkgoldenrod;
}
.outerCell{
  min-width: 100%;
  min-height: 100%;
  width: 98vw;
  background: linear-gradient(to bottom,rgb(8, 13, 6),rgb(62, 139, 7));
  padding-bottom: 30px;
}
.image{
  background-color: red;
}
.gif-name{
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: 12px solid hsl(96, 76%, 82%);
  border-radius: 8px;
  background-color: hsl(94, 25%, 89%);;
}
.gif-name:hover{
  box-shadow: 0px 0px 30px goldenrod;
}
.imageName{
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.playAgain-button{
  width: 120px;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
  background-color: blueviolet;
  color: whitesmoke;
  font-weight: bolder ;
}
.playAgain-button:hover{
  scale: 1.05;
  box-shadow: 0px 0px 10px lawngreen;
}